/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 64px;
    line-height: 80px;
}
.banner{
    color: white;
    display: flex;
    background-color: rgb(9, 53, 157);
}
.half-width{
    width: 50%;
    margin: 2%;
    padding: 20px ;
   
}
.half-width img{
    width: 80%;
   
}

.link-button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D ;
    border:2% solid;
    padding: 10px;
}
